<div style="border-radius: 5px;" fxLayout=layout-wrap fxLayout="row"  fxLayoutAlign="start center">

    <div class="part-1">   
    <!--     
            <button mat-icon-button class="remindme">
            <img src="../assets\Icons\add_alert_black_24dp.svg">
            </button>
        
            <button mat-icon-button class="collaborator">
            <img src="../assets\Icons\person_add_alt_black_24dp.svg">
            </button>
            
            <button mat-icon-button class="changecolour">
            <img src="../assets\Icons\color_lens_black_24dp.svg">
            </button>
            
            <button mat-icon-button >
            <img src="../assets\Icons\insert_photo_black_24dp.svg">
            </button>

            <button mat-icon-button >
            <img  src="../assets\Icons\archive_black_24dp.svg">
            </button>
            
            -->
            <button mat-icon-button >
            <img (click)="deleteNotes()" src="../assets\Icons\archive_black_24dp.svg">
            </button>
            <!--

            <button mat-icon-button >
            <img src="../assets\Icons\more_vert_black_24dp.svg">
            </button>
            -->

    </div>
<!--
    <div class="part-2" fxLayoutGap="20px">    
    <button mat-icon-button class ="undo">
      <img src="../assets\Icons\undo_black_24dp.svg">
    </button>
    
    <button mat-icon-button class ="undo">
      <img src="../assets\Icons\redo_black_24dp.svg">
    </button>
    -->
  </div>