<div class="container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between center"fxFlex=100 > 
    
    <div class="Header" >

        <mat-toolbar style="background-color: white;">

          <mat-toolbar-row>  
            
              <button mat-icon-button (click)="snav.toggle()" id="menu"><mat-icon>menu</mat-icon></button>
                
                <img class="image" src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="keep" width="40px" height="40px">
                
                  <span><mat-label>{{title}}</mat-label></span>

                    <div class="search" fxShow fxHide.xs fxShow fxHide.xs fxFlex.md='35' fxFlex='45' fxFlexOffset='14' fxFlexOffset.sm='12'>
                        <button mat-icon-button class="searchIcon">
                          <mat-icon matTooltip="search">search</mat-icon>
                        </button>
      
                        <input class="searchInput" placeholder="Search">
                    </div>
                    
                    <div class="part-2" >
                        <button mat-icon-button class="refresh">
                            <mat-icon>refresh</mat-icon>
                        </button>  

                        <button mat-icon-button class="listView">
                            <mat-icon>splitscreen</mat-icon>
                        </button>

                        <button mat-icon-button class="settings">
                            <mat-icon>settings</mat-icon>
                        </button> 
                    </div>

                    <div class="part-3" >
                        <button mat-icon-button class="apps">
                            <mat-icon>apps</mat-icon>
                        </button>

                        <button mat-icon-button class="profile">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>


                    
            
            </mat-toolbar-row>
                  
        </mat-toolbar>


              <div style="border: 2px solid #f1f3f4;"></div>

              <mat-sidenav-container class="sidenav-container" style="padding-left: 20px">
                <mat-sidenav #snav mode="side" >
                    <mat-nav-list style="width:240px">
                    <div  class="sideBar" >
                        <div fxLayoutAlign="row" fxLayoutGap="20px" class="Icon" >
                            <img src="../assets\Icons\lightbulb_black_24dp.svg">
                            <a mat-list-item routerLink="/dashboard/home">Notes</a>
                          </div> 
                        <div fxLayoutAlign="row" fxLayoutGap="20px" class="remindIcon">
                            <img src="../assets\Icons\notifications_black_24dp.svg">
                            <a mat-list-item routerLink=".">Reminder</a>
                          </div> 

                    <!--<div *ngFor="let i of labelList">
                    <span>{{i?.label}}</span>
                    </div>-->
                    <!--labelList-->
                    <div fxLayoutAlign="row" fxLayoutGap="20px" class="editIcon" *ngFor="let note of labelList">
                            <img src="../assets\Icons\edit_black_24dp.svg">
                            <a mat-list-item>{{note.label}}</a>
                          </div> 



                         <!--Edit-Label-->
                        <div fxLayoutAlign="row" fxLayoutGap="20px" class="editIcon">
                            <img src="../assets\Icons\edit_black_24dp.svg">
                            <a mat-list-item (click)="openDialogLabels()">Edit Labels</a>
                          </div> 
                          
                          <!--============================================================-->



                        <div fxLayoutAlign="row" fxLayoutGap="20px" class="archiveIcon">
                          <img src="../assets\Icons\archive_black_24dp.svg">
                            <a mat-list-item routerLink='/dashboard/archive'>Archive</a>
                          </div> 
                        <div fxLayoutAlign="row" fxLayoutGap="20px" class="trashIcon">
                            <img src="../assets\Icons\delete_black_24dp.svg">
                            <a mat-list-item routerLink="/dashboard/trash">Trash</a>
                          </div> 
                    </div>
                    </mat-nav-list>
                  </mat-sidenav>

                  <mat-sidenav-content>
                  <router-outlet></router-outlet>
                  </mat-sidenav-content>

                </mat-sidenav-container>
    </div>
</div>