.container{
    border:1px solid rgb(54, 142, 224) ;
    margin: 2% auto;
    border-radius: 10px;
    align-self: center;
    width:500px;
    height: 500px;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin-top: 5%;
}
.main{
    display: flex;
}
.title-align{
    font-size:25px;
    transform: translate(2px, -40px);
}
.heading{
    font-size:23px;
    transform: translate(2px, -20px);
}
.email{
    width: 11cm;
}
.body{
    align-items:center;
    justify-content: center;
}
.button1{
    transform:translate(0px,100px);
    color: rgb(29, 147, 220);
}
.button2{
    transform:translate(213px,100px);
}

