<div class="container" fxLayoutAlign="center center">
        <div class="main"  fxLayoutAlign="center center" >

            <form [formGroup]="forgetForm">
                <span class="title-align" fxLayoutAlign="center center">
                    <div class="Title">
                        <span style="color: #3566b8;">F</span>
                        <span style="color: #34a853; margin-left: 0;">u</span>
                        <span style="color: #fabb05; margin-left: 0;">n</span>
                        <span style="color: #ea4335; margin-left: 0;">d</span>
                        <span style="color: #3566b8; margin-left: 0;">o</span>
                        <span style="color: #fabb05; margin-left: 0;">o</span>
                    </div>
                </span>
                
                    <div>
                        <h2 class="heading" fxLayoutAlign="center center">Forget Password</h2>
                    </div>

                        <div class="body" fxLayout="column" fxLayoutAlign="space-evenly center" >
                                <section>
                                    <mat-form-field appearance="outline" class="email">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput formControlName="email" value="email" >
                                        <mat-error>Email Is Required !</mat-error>
                                    </mat-form-field>
                                </section>
                        </div>
                        <div>
                            <div fxFlexAlign="start">
                            <button class="button1" mat-button routerLink="/login">Return to Login</button>
                            <button class="button2" type="submit" mat-raised-button color="primary" routerLink="/#">Submit</button>
                            </div>
                </div> 
            </form>
        </div>
</div>
