<div fxLayout="row wrap" fxLayoutGap="20px"class="titleBar">

    <mat-card [style.background]="note?.color" *ngFor="let note of NoteArray" class="notes" >


        <div (click)="openDialog(note)" >
            {{note.title}}
        </div>
        
        <div (click)="openDialog(note)" >
            {{note.description}}
        </div>
        <br><br>
        
        
        <app-icons [notecard]="note" class="classIcon"></app-icons>
        
    </mat-card>
</div>

<!--(archive)="setArchive()"
        (unArchive)="setUnArchive"-->