<div fxLayout="row wrap" fxLayoutGap="20px"  fxLayoutAlign="center center" class="titleBar">

    <mat-card [style.background]="note?.color" style="width:500px; height:500px" style=" border-radius:10px;" *ngFor="let note of NoteArray" class="notes" >


        <div (click)="openDialog(note)" >
            {{note.title}}
        </div>
        
        <div (click)="openDialog(note)" >
            {{note.description}}
        </div>
        <br><br>
        

        
        <app-icons [notecard]="note" 
        class="classIcon"
        
        ></app-icons>
       
        
    </mat-card>
</div>

<!--(archive)="setArchive()"
        (unArchive)="setUnArchive"-->