
<div fxLayoutAlign="center center" class="container" fxLayoutGap="40px" fxFlex.sm="60%" fxFlex.xs="40%">
  
  <div >

    <mat-card *ngIf="!show" (click)="onOpen()" style="height:43px;" fxLayout="row"  fxLayoutAlign="center center" Flex.sm="270px" fxFlex.xs="250px">
      
      <div class="inputBar">

        <input matInput placeholder="Take a note.." type="text" class="titlebar"/>
      
      </div>
 
    </mat-card>
 </div>
      <mat-card *ngIf="show">

          <div fxLayout="column" fxLayoutGap="10px" class="textBar">

              <textarea matInput placeholder="Title" [(ngModel)]="title" ></textarea>

      
                <div fxLayout="column" fxLayoutGap="10px">
                    <textarea matInput placeholder="Take a note..." [(ngModel)]="description"></textarea>
                    </div>
               

                <div fxLayout="row" fxLayoutGap="250px">

                  <app-icons></app-icons>

                  <button class="close" mat-button (click)="onClose()">Close</button>
          
                </div>
          </div>
      </mat-card>

</div>

<!--
<div fxLayoutAlign="center center">
    
    <mat-card *ngif="show" (click)="onOpen()">
      
      <div>

          <input matInput type="text" placeholder="Take a note..."/> -->

<!--
<div>
    <mat-card style="width:400px;">

          <div (click)="onOpen()" *ngIf="!show||show" >
            Title
          </div>
          <div *ngIf="show">
              <input matInput type="text" placeholder="Take a note..." class="text">
            <app-icons></app-icons>
            <div (click)="createNote()">close</div>
          </div>
        
      </mat-card>
</div>  -->