.container{
    border: 1px solid Black;
    align-self: center;
    margin: 2% auto;
    border-radius: 10px;
    width:490px;
    height: 600px;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin-top: 5%;
}
.main{
    // border: 1px solid blue;
    display: flex;
    width:400px;
    height:500px;
}
.title-align{
    display: flex;
}
.buttons{
    display: flex;
}
