<div class="container" fxLayoutAlign="center center">
    <div class="main" fxLayoutAlign="center">
        <form [formGroup] = "registerForm" class="form_body">
            <div class="Title">
                <span style="color: #3566b8;">F</span>
                <span style="color: #34a853; margin-left: 0;">u</span>
                <span style="color: #fabb05; margin-left: 0;">n</span>
                <span style="color: #ea4335; margin-left: 0;">d</span>
                <span style="color: #3566b8; margin-left: 0;">o</span>
                <span style="color: #fabb05; margin-left: 0;">o</span>
            </div>

            <div class="Heading">
                <span>Create your Fundoo Account</span>
            </div>

                
                <div class="part-1"  fxLayoutGap="20px">

                    <mat-form-field appearance="outline" class="firstname">
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="First Name" formControlName="firstName">
                        <mat-error>First name Is Required !</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="lastname">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Last Name" formControlName="lastName">
                        <mat-error>Last name Is Required !</mat-error>
                    </mat-form-field>    

                </div>

                <div class="part-2" >

                    <mat-form-field appearance="outline" class="Email">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" formControlName="email">
                            <mat-error>Email Is Required !</mat-error>
                            <mat-hint>You can use letters, numbers & periods</mat-hint>
                    </mat-form-field>
                
                </div>
                    <div class="button_for_text" >
                            <button mat-button routerLink="/login">Use my Current email address instead</button>
                    </div>

                <div class="part-3" fxLayoutGap="20px">

                    <mat-form-field appearance="outline" class="password">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                        <mat-error>Password Is Required !</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="confirmPassword" >
                        <mat-label>Confirm</mat-label>
                        <input type="password" class="form-control" matInput placeholder="Confirm" formControlName="confirmPassword" >
                        <mat-error>Confirm Password name Is Required</mat-error>
                    </mat-form-field>
                </div>

                     <mat-hint class="Text">Use 8 or more characters with a mix of letters,numbers & <br> <span class="text_equal" >Symbols</span></mat-hint>

                <div class="checkbox">
                    <mat-checkbox class="checkbox_margin">Show Password</mat-checkbox>
                </div>

                    <div class="part-4">
                        <button mat-button routerLink="/login">Sign in instead</button>

                    
                        <button class="button" (click)="onSubmit()" mat-raised-button color="primary">Next</button>
                    </div>
                    
        </form>    
    
            <div class= "part-5" fxHide.xs fxHide.sm>
                <div class= "image" >
                    <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="" width="240" height="240">
                    <div class="img_content" >
                    <div class="content1" fxLayoutAlign="center">One account.All of Google</div>
                    <div class="content2" fxLayoutAlign="center">working for you</div>
                </div>
        </div>  
    </div>

</div>
