.container{
    border:1px solid rgb(180, 200, 243) ;
    margin: 10% auto;
    padding: 5% 5%;
    border-radius: 10px;
    align-self: center;
    display: flex;
    margin-top: 5%;
    margin-right: 22%;
    margin-left: 22%;
}
.main{
    display: flex;
    margin-left: -25px;
}
.Title{
    display: flex;
    font-size: 200%;
    font-weight: 200%;
    padding: 0% 0%;
    margin-bottom: 18px;
    margin-top: -30px;
}
.Heading{
    display: flex;
    font-family: Noto Sans Myanmar UI,arial,sans-serif;
    font-size: 150%;
    margin-bottom:10%;
}

.part-1{
    display: flex;
    gap: 10px;
}
.first_name{
    font-size: 11px;
    display: flex;
    
}
.part-2{
    display: row;
}
.Email{
    display: inline;
}
.part-3{
    display: flex;
    gap: 10px;
}
.Text{
    display: inline-block;
    margin-top: -20px;
    margin-left: 10px;  
}
.checkbox{
    display: flex;
    padding: 1% 0%;
    margin-left: 3px;
}
.part-4{
    display: flex;
    gap: 220px;
    margin-top:25px;
    margin-bottom: -10px;
}
.button_hover{
    display: flex;
    margin-left:-14px;
    margin-right: 16px;
    color: rgb(65, 100, 242);
}
.button_for_text{
    display: flex;
    margin-left: -14px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(65, 100, 242);
}
