.container{
    padding: 40px 0px 60px 0px;
   
}
.main{
    // padding: 50px 0px 50px 0px;
    border: 1px solid rgba(128, 128, 128, 0.699);
    border-radius:10px;
    // width:700px;
}
.form_body{
    padding: 15px
}
.Title{
    // display: flex;
    font-size: 200%;
    font-weight: 200%;
    font-family: monospace;
    // padding: 0% 0%;
    // margin-bottom: 18px;
    // margin-top: -30px;
}
.Heading{
    font-family: Noto Sans Myanmar UI,arial,sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom:10%;
    padding: 27px 0.9px;
}
.part-2 .Email{
    // border:1px solid red;
    width: 420px;
}
.button_for_text{
    padding: 20px 2px 10px 0px;
    color: blue;
}
.button_for_text .mat-button{
    padding-left: 0px;
}
.checkbox{
    margin-top: 20px;
}
.part-4{
    margin: 30px 0px 12px 0px;
}
.part-4 .mat-button{
    margin-left: -14px;
    color: blue;
}
.part-4 .button{
    margin-left:250px;
}
.part-5{
    margin-top: 130px;
}
