<div class="container" fxLayoutAlign="center center">
        <div class="main"  fxLayoutAlign="center center" >

            <form [formGroup]="resetForm">
                <span class="title-align" fxLayoutAlign="center center">
                    <div class="Title">
                        <span style="color: #3566b8;">F</span>
                        <span style="color: #34a853; margin-left: 0;">u</span>
                        <span style="color: #fabb05; margin-left: 0;">n</span>
                        <span style="color: #ea4335; margin-left: 0;">d</span>
                        <span style="color: #3566b8; margin-left: 0;">o</span>
                        <span style="color: #fabb05; margin-left: 0;">o</span>
                    </div>
                </span>
                
                    <div>
                        <h2 class="heading" fxLayoutAlign="center center">Reset Password</h2>
                    </div>

                        <div class="body" fxLayout="column" fxLayoutAlign="space-evenly center" >
                                <section>
                                    <mat-form-field appearance="outline" class="password">
                                        <mat-label>New Password</mat-label>
                                        <input type="password" matInput formControlName="newpassword" value="newpassword" >
                                        <mat-error>Password Is Required !</mat-error>
                                    </mat-form-field>
                                </section>
                            
                                <section class="checkbox" fxFlexAlign="start">
                                    <mat-checkbox class="checkbox_margin">show Password</mat-checkbox>
                                </section> 
                                
                                <section>
                                    <mat-form-field appearance="outline" class="password">
                                        <mat-label>Re-Enter Password</mat-label>
                                        <input type="password" matInput formControlName="reEnterpassword" value="reEnterpassword" >
                                        <mat-error>Password Is Required !</mat-error>
                                        </mat-form-field>
                                </section>

                                <section class="checkbox" fxFlexAlign="start">
                                    <mat-checkbox class="checkbox_margin">show Password</mat-checkbox>
                                </section>

                        </div>
                        <div>
                            <div fxFlexAlign="start">
                            <button class="button1" mat-button routerLink="/login">Sign In</button>
                            <button (click)="onSubmit()" class="button2" type="submit" mat-raised-button color="primary">Submit</button>
                            </div>
                    
                </div> 
            </form>
        </div>
</div>
